In [161]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
%matplotlib notebook

In [61]:
Dades_2019 = pd.read_csv('Enquestes2019.csv', sep=';', header=0, encoding='latin-1')
Dades_2019.head()

,Unnamed: 0,AUT,CMUNI,CONEIX_ABASCAL,CONEIX_CASADO,CONEIX_IGLESIAS,CONEIX_RIVERA,CONEIX_SANCHEZ,CP,EDAT,...,REC_GEN,REGISTRO,SEXE,SIMP_GEN,TIP_TEL,VAL_ABASCAL,VAL_CASADO,VAL_IGLESIAS,VAL_RIVERA,VAL_SANCHEZ
0,0,"Madrid, Comunidad de",28079,Sí,Sí,Sí,Sí,Sí,28053,29,...,PP,4,Mujer,PP,Móviles aleatorios,4.0,3.0,0.0,5.000000,1.0
1,1,"Madrid, Comunidad de",28079,Sí,Sí,Sí,Sí,Sí,28017,41,...,C's,5,Mujer,C's,Móviles aleatorios,0.0,1.0,3.0,4.000000,4.0
2,2,"Madrid, Comunidad de",28079,Sí,Sí,Sí,Sí,Sí,28043,50,...,No votó,6,Hombre,Ninguno,Móviles aleatorios,5.0,5.0,5.0,7.535226,5.0
3,3,Galicia,99995,Sí,Sí,Sí,Sí,Sí,36001,46,...,PP,27,Mujer,,Móviles aleatorios,2.0,7.0,0.0,5.000000,0.0
4,4,"Madrid, Comunidad de",28079,Sí,Sí,Sí,No,Sí,28021,48,...,No votó,28,Hombre,,Móviles aleatorios,4.0,5.0,5.0,4.454060,10.0

In [3]:
### Empezamos prediciendo el partido mayoritario

In [63]:
X = Dades_2019[['ID_HABI', 'ID_AUT', 'CMUNI', 'ID_SEXE', 'EDAT', 'ID_IMP_ELEC',
       'ID_REC_GEN', 'ID_CONEIX_CASADO',
       'VAL_CASADO', 'ID_CONEIX_RIVERA', 'VAL_RIVERA',
       'ID_CONEIX_SANCHEZ', 'VAL_SANCHEZ','ID_CONEIX_IGLESIAS', 'VAL_IGLESIAS',
       'ID_CONEIX_ABASCAL', 'VAL_ABASCAL',
       'ID_PREFER_POLITIC', 'ID_IDEOLOGIA', 'ID_PERTINEN', 'ID_ESTUDIS', 'ID_OCUPACIO', 'CP']]
y = Dades_2019[['INT_GEN']]

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [65]:
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5)

In [66]:
X_train.shape

(1600, 24)

In [67]:
X_test.shape

(200, 24)

In [68]:
X_val.shape

(200, 24)

In [85]:
clf = RandomForestClassifier(n_estimators=100, max_depth=10,
                             random_state=0)

In [86]:
clf.fit(X_train, y_train)

C:\Users\Lau\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [87]:
clf.score(X_val, y_val)

0.57

In [88]:
clf.score(X_train, y_train)

0.909375

In [89]:
### score en train mayor, overfitting (memorizarse datos"")

In [152]:
clf = RandomForestClassifier(n_estimators=40, max_depth=8,
                             random_state=0, min_samples_leaf=25)

In [153]:
clf.fit(X_train, y_train)

C:\Users\Lau\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=25, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [159]:
clf.score(X_test, y_test)

0.585

In [ ]:
# accuracy de 0.585

In [154]:
clf.score(X_val, y_val)

0.51

In [155]:
clf.score(X_train, y_train)

0.59125

In [157]:
a = X_test.sample()
a

,ID_HABI,ID_AUT,CMUNI,ID_SEXE,EDAT,ID_IMP_ELEC,ID_PROB_VOT_GEN,ID_REC_GEN,ID_CONEIX_CASADO,VAL_CASADO,...,ID_CONEIX_IGLESIAS,VAL_IGLESIAS,ID_CONEIX_ABASCAL,VAL_ABASCAL,ID_PREFER_POLITIC,ID_IDEOLOGIA,ID_PERTINEN,ID_ESTUDIS,ID_OCUPACIO,CP
1181,2,1,99995,1,81,1,98,1,1,3.0,...,1,3.0,1,3.0,4,5,5,2,6,29620

In [158]:
clf.predict(a)

array(['No sabe'], dtype=object)

In [160]:
# GRADIENT BOOSTING

In [253]:
grd = GradientBoostingClassifier(n_estimators=50, max_depth=3,
                             random_state=0, min_samples_leaf=30, learning_rate = 0.01)

In [254]:
grd.fit(X_train, y_train)

C:\Users\Lau\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.01, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=30, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=50,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [255]:
grd.score(X_val, y_val)

0.555

In [256]:
grd.score(X_train, y_train)

0.638125

In [257]:
grd.score(X_test, y_test)

0.65

In [ ]:
# Acc 0.65